[run]
parallel = True
branch = False
source = sqlite_rx
concurrency = multiprocessing
omit =
    /*/tests/*
    .env/*
    ./sqlite_rx/cli/__init__.py
    /home/travis/virtualenv/*

[report]

[html]
directory = htmlcov