[run]
parallel = True
branch = False
concurrency = multiprocessing
source = sqlite_rx
omit =
    /*/tests/*
    .env/*
    /sqlite_rx/cli
    /home/travis/virtualenv/*

[report]

[html]
directory = htmlcov