.venv
*.pyc
*.cxml
.idea
.python-version
.DS_Store
sqlite_rx.egg-info/
cover/
build/
dist/
bin/
data/
.coverage
.pytest_cache
.coverage
sqlite_demo.py
example.db
venv/
start_server.py
run_client.py
curve_client.py
.pypy3venv/
.envrc
